.dise-tabla {
    border-collapse: separate;
    align-content: center;
}

.forma-imagen-1 {
    width: 90px;
    height: 100px;
    padding-left: 20px;
    background-color: rgb(42, 190, 128);
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: 0px solid #000000;
}

.forma-imagen-2 {
    width: 90px;
    height: 100px;
    padding-left: 20px;
    background-color: cyan;
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: 0px solid #000000;
}

.estilo-texto {
    font-size: 8px;
    text-align: justify;
}

.dimens-celda {
    width: 400px;
    height: 60px;
}

.margen {
    margin: auto;
    width: 100px;
}

.footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    padding-left: 300px;
}